@utility no-scrollbar {
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

@utility scrollbar-hide {
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

@utility custom-scrollbar {
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        display: block !important;
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #e2e8f0;
        border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #cbd5e1;
    }
}